.device-readers-health-check-list-item {
  display: flex;
}

.device-readers-health-check-list-item__content {
  flex: 1;
  display: grid;
  grid-template-columns: 35px 100px 1fr;
  grid-template-areas: "a b c";
  row-gap: 8px;
  font-size: 14px;
}
.device-readers-health-check-list-item__button {
  align-self: center;
}